/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Header ******/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    height: 79px;
    margin-bottom: 30px;
}

.logo {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 19px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 68px;
}

.menu > a {
    padding-top: 16px;
}

.menu > a:nth-child(1) {
    padding-top: 14px;
    border-top: var(--main-color) solid 2px;
}


/****** Info group ******/
.info-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
    margin-bottom: 35px;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.headline > div:nth-child(1) {
    color: black;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.headline > p:nth-child(2) {
    color: black;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-content: center;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
}

.search-bar > img {
    height: 49px;
}

.loc {
    color: black;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: auto;
    height: 100%;
    border: 0 none;
    outline: none;
    padding: 0 24px;
}

.search {
    background-color: var(--main-color);
    color: white;
    position: relative;
    border-radius: 0 15px 15px 0;
    padding: 15px 16px 0;
}

.search span {
    color: white;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.search img {
    height: 17px;
    display: none;
}

.filter {
    display: flex;
    flex-direction: row;
    height: 50px;
    gap: 15px;
}

.filter div:not(.filter div:nth-child(1)) {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filter div:nth-child(1) {
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.filter a {
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    height: 50px;
    cursor: pointer;
    background-color: white;
}

.filter a:hover {
    background-color: #DEEBFF;
}

.filter a > img {
    width: 22px;
    height: 22px;
    margin-top: auto;
    margin-bottom: auto;
}

.item-title {
    color: #000;
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: auto;
    margin-bottom: auto;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.info > img {
    margin-top: auto;
    margin-bottom: auto;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.info > div {
    margin-top: auto;
    margin-bottom: auto;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    border-radius: 15px;
    background: #F2F2F2;
}

.hebergements-title {
    align-self: stretch;
    color: #000;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hebergements-row {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    margin-top: 30px;
}

.hebergements-row a {
    flex: 1;
}

.hebergements-card {
    display: flex;
    padding-bottom: 15px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    flex: 1;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.10);
}

.hebergements-infos {
    display: flex;
    padding: 0 15px;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    align-self: stretch;
}

.hebergements-infos h2 {
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.hebergements-infos h3 {
    align-self: stretch;
    color: #000;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.hebergements-infos-price span {
    color: #000;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hebergements-img {
    height: 124px;
    align-self: stretch;
    border-radius: 20px 20px 0 0;
    border: 5px solid #FFFFFF;
}

.stars {
    display: flex;
    flex-direction: row;
    width: 81px;
    height: 13.25px;
    align-self: stretch;
    gap: 2.38px;
}

.stars div:last-child {
    color: #F2F2F2;
}

.star {
    height: 13.25px;
    width: 100%;
}

.card-1 {
    background: url("../images/hebergements/fred-kleber.jpg") no-repeat;
    background-size: cover;
}

.card-2 {
    background: url("../images/hebergements/febrian-zakaria.jpg") no-repeat center;
    background-size: cover;
}

.card-3 {
    background: url("../images/hebergements/reisetopia.jpg") no-repeat center;
    background-size: cover;
}

.card-4 {
    background: url("../images/hebergements/annie-spratt.jpg") no-repeat;
    background-size: cover;
}

.card-5 {
    background: url("../images/hebergements/marcus-loke.jpg") no-repeat center;
    background-size: cover;
}

.card-6 {
    background: url("../images/hebergements/nicate-lee.jpg") no-repeat center;
    background-size: cover;
}

.show-more {
    padding-top: 30px;
    align-self: stretch;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activities ******/

.activities {
    padding: 30px;
}

.activities-title {
    color: #000;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cards {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.cards .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 439px;
    padding: 0;
    border-radius: 20px;
    width: calc(1190px / 4);
}

.cards .card a {
    width: calc(1190px / 4);

}

.cards .card img {
    object-fit: cover;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.cards .card h2 {
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: auto 19px;
}


/****** footer ******/

footer {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    padding: 20px;
}

footer div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

footer div div:nth-child(1) {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer div div:not(footer div div:nth-child(1)) {
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1440px) {
    .cards .card {
        width: calc((100vw - 250px) / 4);
    }
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .cards .card {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 270px;
        padding: 0;
        border-radius: 20px;
    }

    .cards .card img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}